<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServerSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:40129/Server.asmx" binding="basicHttpBinding"
                bindingConfiguration="ServerSoap" contract="DistantServer.ServerSoap"
                name="ServerSoap" />
        </client>
    </system.serviceModel>
</configuration>
